<app-top-bar></app-top-bar>
<div class="container">

    <div class="progressoUsuario">
        <div class="progressBar">
            <progress id="file" value="{{ progresso.length - 1 }}" max="4"></progress>
            <div class="progressbar">
                <div class="progress-step" [ngClass]="{ 'progress-step-active': progresso.length >  0 }" data-title="">
                </div>
                <div class="progress-step" [ngClass]="{ 'progress-step-active': progresso.length >  1 }" data-title="">
                </div>
                <div class="progress-step" [ngClass]="{ 'progress-step-active': progresso.length  >  2 }" data-title="">
                </div>
                <div class="progress-step" [ngClass]="{ 'progress-step-active': progresso.length >  3 }" data-title="">
                </div>
                <div class="progress-step" [ngClass]="{ 'progress-step-active': progresso.length >  4 }" data-title="">
                </div>
            </div>

            <div class="allLocations">
                <div class="location">
                    <h1 *ngIf="progresso.length">
                        {{ progresso[0]}}
                    </h1>
                    <h2 *ngIf="progresso.length > 0">
                        {{ progresso[0]}}<br />
                        {{ progresso[0]}}
                    </h2>
                </div>
                <div class="location">
                    <h1 *ngIf="progresso.length > 1">
                        {{ progresso[1]}}
                    </h1>
                    <h2 *ngIf="progresso.length > 1">
                        {{ progresso[1]}}<br />
                        {{ progresso[1]}}
                    </h2>
                </div>
                <div class="location">
                    <h1 *ngIf="progresso.length > 2">
                        {{ progresso[2]}}
                    </h1>
                    <h2 *ngIf="progresso.length > 2">
                        {{ progresso[2]}}<br />
                        {{ progresso[2]}}
                    </h2>
                </div>
                <div class="location">
                    <h1 *ngIf="progresso.length > 3">
                        {{ progresso[3]}}
                    </h1>
                    <h2 *ngIf="progresso.length > 3">
                        {{ progresso[3]}}<br />
                        {{ progresso[3]}}
                    </h2>
                </div>
                <div class="location">
                    <h1 *ngIf="progresso.length > 4">
                        {{ progresso[4]}}
                    </h1>
                    <h2 *ngIf="progresso.length > 4">
                        {{ progresso[4]}}<br />
                        {{ progresso[4]}}
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>