<app-top-bar></app-top-bar>

<body>
    <div class="register-processo-seletivo">
        <div class="title" style="display: flex; text-align: center; justify-content: center;">Cadastro processo seletivo</div>
        <form action="#">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Curso</span>
                    <input type="text" id="curso" placeholder="" required>
                </div>
                <div class="input-box">
                    <span class="details">Início processo seletivo</span>
                    <input type="date" id="inicio" placeholder="" required>
                </div>
                <div class="input-box">
                    <span class="details">Fim processo seletivo</span>
                    <input type="date" id="fim" placeholder="" required>
                </div>
                <div class="input-box">
                    <span class="details">Quantidade máxima de candidatos</span>
                    <input type="number" id="numcandidatos" placeholder="" required style="padding: 15px; width: 100%; height: 45px; outline: none; border-bottom-width: 2px; transition: all 0.3s ease; border-radius: 5px; border: 1px solid #ccc; ">
                </div>
            </div>
            <input href="#" type="submit" value="Cadastrar" (click)="ProcessoRegister()" class="btn btn-primary">
        </form>
    </div>
</body>