<app-top-bar></app-top-bar>
<body>
    <div class="title">
        Processos seletivos
      </div>
      <div class="container">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Curso</th>
              <th scope="col">Data início</th>
              <th scope="col">Data fim</th>
              <th scope="col">Nº de candidatos</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Desenvolvimento de sistemas</td>
              <td>20/02/2002</td>
              <td>18/03/2003</td>
              <td>18</td>
              <td><a href="#" [routerLink]="['/tabela-processo-seletivo']">Analisar processo</a></td>
            </tr>
          </tbody>
        </table>
        
      </div>
</body>