<app-top-bar></app-top-bar>
<form action="#" class="form">

    <div class="title-group">Informações sobre a etapa:</div>

    <div class="input-group">
        <p>Local: </p>
        <!-- <p>Local: {{fases[indexFase].local}}</p> -->
    </div>
    <div class="input-group">
        <!-- <p>Descrição: {{fases[indexFase].descricao}}</p> -->
        <p>Descrição: </p>
    </div>
    <div class="input-group">
        <p>CEP: </p>
    </div>
    <div class="input-group">
        <p>Horário: </p>
    </div>

    <div class="btn" id="">
        <a href="#" [routerLink]="['/visualiza-fase']">Voltar</a>
    </div>
</form>