<form action="#" class="form">
        

    
        
    <div class="title-group">Informações sobre a etapa:</div>

    <div class="input-group">
        <p>Local: </p>
    </div>
    <div class="input-group">
        <p>Rua: </p>
    </div>
    <div class="input-group">
        <p>CEP: </p>
    </div>
    <div class="input-group">
        <p>Horário: </p>
    </div>

    <div class="btns-group" id="cadastro-btn">
        <a href="#" class="btn" [routerLink]="['/']">Voltar</a>
    </div>
</form>    