*,
*::before,
*::after {
    box-sizing: border-box;
}

.form {
    width: 600px;
    padding: 30px;
    padding-left: 45px;
    padding-right: 45px;
    background-color: white;
    margin: 0 auto;
    border: none;
    align-self: flex-start;
    margin-top: 1rem;
    border-radius: 25px;
    border: 1.5px solid #808080;
}

input {
    display: block;
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    outline: none;
}

input::placeholder {
    color: #666;
}


.input-group {
    margin: 2rem 0;
    font-weight: medium;
    font-size: 1.3em;
    color: #666;

}

.title-group {
    margin-top: 1rem;
    align-self: center;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #295e89;
}


.btn{
    width: 100%;
    height: 50px;
    background-color: #094780;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.btn>a{
    color: white;
    font-size: 22px;
    outline: none;
}

.btn:hover{
    background-color: #0D6ABF;
}

select {
    color: #666;
    width: 20%;
    text-align: center;
}

.form1,
.form2,
.form3,
.form4 {
    visibility: hidden;
}