body{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgb(246, 246, 246);
    gap: 25px;
}

.title{
    width: 100%;
    align-self: center;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.container{
    max-height: 50%;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

td {
    border: solid 1px rgb(220, 220, 220);
}