<body>
  <div class="title">
    *Nome do Processo Seletivo*
  </div>
  <div class="container">
    <h1>Fases</h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Descrição</th>
          <th scope="col">Local</th>
          <th scope="col">Data</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Prova Teórica</td>
          <td>Prova 90 questões pipipopo</td>
          <td>Sesi Centro</td>
          <td>18/03/2023</td>
        </tr>
      </tbody>
    </table>
    
  </div>
  <div class="container">
    <h1>Candidatos</h1>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Data de nascimento</th>
            <th>Aprovado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Nathan Ansay Cordeiro</td>
            <td>nathancordeiro@gmail.com</td>
            <td>18/03/2003</td>
            <td><input type="checkbox" checked data-toggle="toggle" data-onstyle="secondary"></td>
          </tr>
        </tbody>
      </table>
  </div>
</body>

