<body>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Curso</th>
            <th scope="col">Email</th>
            <th scope="col">Data de nascimento</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <th scope="row"></th>
            <td></td>
            <td>Desenvolvimento de Sistemas</td>
            <td>nathancordeiro@gmail.com</td>
            <td>18/03/2003</td>
          </tr>
        </tbody>
      </table>
</body>

