<app-top-bar-login></app-top-bar-login>
<div class="main-login">
    <div class="left-login">
        <img src="../../assets/banner2.svg" class="left-login-image" alt="icone">
    </div>
    <div class="right-login">
        <div class="card-login">
            <h1 style="margin-bottom: 2rem;">LOGIN</h1>
            <div class="textfield">
                <label for="login">Usuário</label>
                <input type="text" name="usuario" placeholder="" id="login">
            </div>
            <div class="textfield">
                <label for="senha">Senha</label>
                <input type="password" name="senha" placeholder="" id="senha">
            </div>
            <button class="btn-login" (click)="LogIn()">Entrar</button>
        </div>
    </div>
</div>