<app-top-bar></app-top-bar>
<body>
    <div class="register-processo-seletivo">
        <div class="title">Cadastrar fase</div>
        <form action="#">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Tipo</span>
                    <input type="text" id="Nome" placeholder="" required>
                </div>
                <div class="input-box">
                    <span class="details">Data da fase</span>
                    <input type="date" id="date" placeholder="" required>
                </div>
                <div class="input-box">
                    <span class="details">Número de candidatos</span>
                    <input type="number" id="number" placeholder="" required style="padding: 15px; width: 100%; height: 45px; outline: none; border-bottom-width: 2px; transition: all 0.3s ease; border-radius: 5px; border: 1px solid #ccc; ">
                </div>
                
                <div class="input-box">
                    <span class="details" for="type" style="margin-bottom: 1.4rem;">Formato</span>
                    <input type="radio" name="type" value="1" required>Online
                    <input type="radio" name="type" value="2" required>Presencial
                </div>
                <div class="input-box" style="width: 100%;">
                    <span class="details">Descrição</span>
                    <input type="text" id="Nome" placeholder="" required style="height: 100px;">
                </div>
            </div>
            <button class="btn-login">Cadastrar</button>
        </form>
    </div>
</body>