<div class="register-processo-seletivo">
    <div class="title">Cadastro Fase *Nome do processo?*</div>
    <form action="#">
        <div class="user-details">
            <div class="input-box">
                <span class="details">Nome</span>
                <input type="text" id="Nome" placeholder="" required>
            </div>
            <div class="input-box">
                <span class="details">Descrição</span>
                <input type="text" id="Nome" placeholder="" required>
            </div>
            <div class="input-box">
                <span class="details">Data da fase</span>
                <input type="date" id="date" placeholder="" required>
            </div>
            <div class="input-box">
                <span class="details" for="type" style="margin-bottom: 1.4rem;">Tipo</span>
                <input type="radio" name="type" value="1" required>Online
                <input type="radio" name="type" value="2" required>Presencial
            </div>
        </div>
        <button class="btn-login">Cadastrar</button>
    </form>
</div>