<app-top-bar-candidato></app-top-bar-candidato>
<body>
    <div class="register-processo-seletivo">
        <!-- <div class="title">Cadastrar candidato</div> -->
        <form action="#" style="margin-top: 10rem;">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Nome</span>
                    <input type="text" id="nome" placeholder="" value="{{candidato.nome}}"required>
                </div>
                <div class="input-box">
                    <span class="details">CPF</span>
                    <input type="text" id="cpf" placeholder="" value="{{candidato.CPF}}" disabled="">
                </div>
                <div class="input-box">
                    <span class="details">Data de nascimento</span>
                    <input type="date" id="nascimento" placeholder="" value="{{candidato.dataNascimento}}"  required>
                </div>
                <div class="input-box">
                    <span class="details">Telefone</span>
                    <input type="number" id="telefone" placeholder="" required value="{{candidato.telefone}}"
                        style="padding: 15px; width: 100%; height: 45px; outline: none; border-bottom-width: 2px; transition: all 0.3s ease; border-radius: 5px; border: 1px solid #ccc; ">
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="text" id="email" placeholder="" required value="{{candidato.email}}"
                        style="padding: 15px; width: 100%; height: 45px; outline: none; border-bottom-width: 2px; transition: all 0.3s ease; border-radius: 5px; border: 1px solid #ccc; ">
                </div>
                <div class="input-box" style="width: 100%;">
                    <span class="details">Curso desejado</span>
                    <select class=" form-select" aria-label="Default select example"
                        style="padding: 15px; width: 100%; height: 55px; outline: none; border-bottom-width: 2px; transition: all 0.3s ease; border-radius: 5px; border: 1px solid #ccc; ">
                        <option selected>Selecione um curso</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="input-box">
                    <span class="details">Login</span>
                    <input type="text" id="login" placeholder="" disabled=""
                        style="padding: 15px; width: 100%; height: 45px; outline: none; border-bottom-width: 2px; transition: all 0.3s ease; border-radius: 5px; border: 1px solid #ccc; ">
                </div>
                <div class="input-box">
                    <span class="details">Senha</span>
                    <input type="password" id="senha" placeholder="" required value="{{candidato.senha}}"
                        style="padding: 15px; width: 100%; height: 45px; outline: none; border-bottom-width: 2px; transition: all 0.3s ease; border-radius: 5px; border: 1px solid #ccc; ">
                </div>
            </div>
            <div class="btn-group" style="display: flex; justify-content: flex-end; flex-direction: row; gap: 2rem;">
            <button type="button" class="btn" style="border-radius: 10px; color: #094780; background-color: white; border: 2px solid #094780;" [routerLink]="['/perfil-candidato']">Voltar</button>
            <button type="button" class="btn" style="border-radius: 10px;" >Alterar</button>
        </div>
        </form>
    </div>
</body>