<div class="container">
    <h1>*Fase Atual*</h1>
    <div class="progress-bar">
        <div class="progress-bar__step" [ngClass]="{ 'active': step === 1 }"></div>
        <div class="progress-bar__step" [ngClass]="{ 'active': step === 2 }"></div>
        <div class="progress-bar__step" [ngClass]="{ 'active': step === 3 }"></div>
        <div class="progress-bar__step" [ngClass]="{ 'active': step === 4 }"></div>
        <div class="progress-bar__step" [ngClass]="{ 'active': step === 5 }"></div>
    </div>
</div>