<app-top-bar></app-top-bar>

<!-- <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.14.0/devicon.min.css">
</head>

<body>
    <div class="container">
        <header class="perfil">
            <img class="perfil-foto" src="../../assets/steicy.jpg" />
            <div class="titulo">
                <h1>Steicy Mayara dos Santos</h1>
                <h3>Desenvolvimento de sistemas</h3>
            </div>
        </header>

        <div class="info">
            <div class="container-info">
                <h3>Seja bem-vindo(a)!</h3>
                <p>Aqui você pode ver a situação da sua inscrição, saber seu local de dinâmica e conferir seus
                    resultados. Fique atento(a) às mensagens e aos comunicados que enviaremos por aqui!
                </p>

            </div>
        </div>
        <button>Resultados</button>

    </div>
</body> -->

<div class="container">
    <div class="left-container">
        <div class="user">
            <div id="circulo"></div>
            <h1>Steicy Mayara dos Santos</h1>
            <p>Desenvolvimento de sistemas</p>
        </div>
        <div class="btn" id="">
            <a href="#" [routerLink]="['/']">Resultado</a>
        </div>
    </div>
    <div class="right-container">
        <div class="info">
            <h3>Seja bem-vindo(a)!</h3>
            <p>Aqui você pode ver a situação da sua inscrição, saber seu local de dinâmica e conferir seus
                resultados. Fique atento(a) às mensagens e aos comunicados que enviaremos por aqui!
            </p>
        </div>

    </div>
</div>