<app-top-bar-candidato></app-top-bar-candidato>
<div class="container">
    <div class="left-container">
        <div class="user">
            <div id="circulo"></div>
            <h1>{{candidato.nome}}</h1>
            <p>{{candidato.nomeProcesso}}</p>
        </div>
        <!-- <div class="btn" id="" [routerLink]="['/visualiza-fase']">
            <a href="#" style="outline: none;">Acompanhar processo</a>
        </div> -->
        <a href="#" class="btn" [routerLink]="['/visualiza-fase']" style="margin-top: -2rem;">Acompanhar processo</a>
        <a href="#" class="btn" [routerLink]="['/editar-dados']">Editar dados</a>
    </div>
    <div class="right-container">
        <div class="info" style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
            <h3>Seja bem-vindo(a)!</h3>
            <p>Aqui você pode ver a situação da sua inscrição, saber seu local de dinâmica e conferir seus
                resultados. Fique atento(a) às mensagens e aos comunicados que enviaremos por aqui!
            </p>
            <img src="../../assets/etslogo.png" style="width: 15rem; margin-top: 50px;">
        </div>

    </div>
</div>