body{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgb(246, 246, 246);
}

.title{
    width: 30%;
    align-self: center;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.container{
    height: 50%;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

td {
    border: solid 1px rgb(220, 220, 220);
}

.edit>img{
   height: 30px;
   cursor: pointer;
}





/* Cadastro */


.register-processo-seletivo{
  max-width: 700px;
  background: #fff;
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 70px -32px rgba(128,128,128,1);
  position: absolute;
  max-height: 700px;
  bottom: 0;
  top: 0;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
}

.register-processo-seletivo .title{
  font-size: 25px;
  font-weight: bolder;
  position: relative;
  color: #295e89;
}

.register-processo-seletivo form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.user-details .input-box .details{
  display: block;
  font-weight: 500;
  margin-bottom: 0.7rem;
  margin-top: 0.7rem;
}

.user-details .input-box input[type="text"], input[type="date"],input[type="password"]{
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;  transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #295e89;
  
}

form .type-details .type-title{
  font-size: 20px;
  font-weight: 500;
}

form .type-details .category{
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}

.type-details .category label{
  display: flex;
  align-items: center;
}

.type-details .category .dot{
  height: 18px;
  width: 18px;
  background: #d9d9d9;
  border-radius:50%;
  margin-right: 10px;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}


.btn-login{
  width: 25%;
  padding: 8px 0px;
  margin-top: 15px;
  margin-left: 75%;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  justify-self: center;
  align-items: center;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 0.5px;
  color: rgb(255, 255, 255);
  background: #295e89;
  cursor: pointer;  
}

input[type="radio"]{
  margin-top: 0.5rem;
  width: 30px;
}

form .button{
  height: 45px;
  margin: 45px 0; 
}

form .button input:hover{
  background: rgb(69, 69, 69);
}
@media (max-width: 584px){
  .register-processo-seletivo{
    max-width: 100%;
  }
  form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .type-details .category{
    width: 100%;
  }
  .register-processo-seletivo form .user-details{
    max-height: 300px;
    overflow-y: scroll; 
  }
  .user-details::-webkit-scrollbar{
    width: 0;
  }

}