<app-top-bar></app-top-bar>
<body>
    <div class="title">
        Processos Seletivos Cadastrados
    </div>
    <div class="container">
        <table class="table" style="border: 1.5px solid #ccc;">
            <thead>
              <tr>
                <th scope="col">Nº</th>
                <th scope="col">Nome</th>
                <th scope="col">Data de Início</th>
                <th scope="col">Data de Fim</th>
                <th scope="col">Qtde</th>
                <th scope="col">Ativo</th>
                <th scope="col">Editar</th>
                <th scope="col">Configurar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of processos">
                <td>{{i.qtdeMax}}</td>
                <td>{{i.nome}}</td>
                <td>{{i.DataInicio}}</td>
                <td>{{i.DataFim}}</td>
                <td>{{i.qtdeMax}}</td>
                <td><input type="checkbox" checked data-toggle="toggle" data-onstyle="secondary"></td>
                <td class="edit"><img src="../../assets/editing.png" alt=""  (click)="isVisible ? isVisible = false : isVisible = true"></td>
                <td class="setting"><img src="../../assets/setting.png" alt=""  ></td>
              </tr>
            </tbody>
          </table>
        </div>
</body>

<!-- <app-cadastro-novas-fases *ngIf="isVisible"></app-cadastro-novas-fases> -->